
.acordeon-pf .accordion-button {
    flex-direction:row-reverse;
    justify-content: flex-end;
    padding-left: 70px;
    border: 0.25px ;
    border-radius: 0 !important;
    padding-bottom: -1.5px;
    background-color: #F3F7FE;
    
}

@media screen and (max-width: 768px) {
    .acordeon-pf .accordion-button {
        padding-left: 20px;
        background-color: #F3F7FE;

    }
}

.acordeon-pf .accordion-button::after {
    background-image: url(../../assets/img/mas.png);
    background-position: center;
    margin-left: 0 ;
    
    
}
/*acordeon*/
.acordeon-pf  .accordion-button:not(.collapsed)::after {
    background-image: url(../../assets/img/menos.png);
    background-position: center;
    margin-left: 0;
    
    

}
.acordeon-pf .accordion-item{
    border: 0.25px solid #0b5bdb85 !important;
    border-radius: 0 !important;
      background-color: #F3F7FE;

}

.padding-pf{
    padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .padding-pf{
        padding-bottom: 50px;
    }
}

.boton-vermas-cel{
    background-color: #FFFFFF !important;
    border: 1px solid #0B5ADB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
}