@font-face {
  font-family: "Nunito-Light";
  src: url(./fonts/nunito/Nunito-Light.ttf);
}
@font-face {
  font-family: "Nunito-Regular";
  src: url(./fonts/nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: "Nunito-Medium";
  src: url(./fonts/nunito/Nunito-Medium.ttf);
}
@font-face {
  font-family: "Nunito-MediumItalic";
  src: url(./fonts/nunito/Nunito-MediumItalic.ttf);
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url(./fonts/nunito/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Nunito-Bold";
  src: url(./fonts/nunito/Nunito-Bold.ttf);
}
@font-face {
  font-family: "Nunito-ExtraBold";
  src: url(./fonts/nunito/Nunito-ExtraBold.ttf);
}

/*Weight light  */
.peso-300 {
  font-family: "Nunito-light" !important;
}
/*Weight regular  */
.peso-400 {
  font-family: "Nunito-Regular" !important;
}
/*Weight medium  */
.peso-500 {
  font-family: "Nunito-Medium" !important;
}
.peso-500-italic {
  font-family: "Nunito-MediumItalic" !important;
}
/*Weight semiBold  */
.peso-600 {
  font-family: "Nunito-SemiBold" !important;
}
/*Weight bold  */
.peso-700 {
  font-family: "Nunito-Bold" !important;
}
/*Weight extraBold */
.peso-800 {
  font-family: "Nunito-ExtraBold" !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0 !important;
}

.fs-16{
  font-size:16px;
}
.fs-20{
  font-size:20px;
}
.fs-23{
  font-size:23px;
}
.fs-28{
  font-size:28px;
}
.fs-32{
  font-size:32px;
}
.fs-45{
  font-size:45px;
}
.color-azul{
  color:#0B5ADB ;
}
.color-blanco{
  color: #fff ;
}

.fondo-blanco{
  background-color: #fff ;
}

.fondo-azul{
  background: linear-gradient(90deg, rgba(18,67,170,1) 0%, rgba(42,119,247,1) 100%);

}
